/* Import gg font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

/* Varilables */
/* :root {
} */

/* Base css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* CSS */
header {
  width: 100%;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-home {
  display: flex;
  align-items: center;
}

.home-icon {
  padding-right: 12px;
  font-size: 50px;
}

.nav-search {
  display: flex;
  align-items: center;
  width: 780px;
  height: 52px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  opacity: 0.7;
}

.nav-search:hover {
  opacity: 1;
}

.nav-search input {
  width: 100%;
  border: none;
  outline: none;
}

.nav-search-icon {
  font-size: 28px;
  padding: 0 8px;
  opacity: 0.6;
}

.links {
  text-decoration: none;
  color: black;
  padding: 0 15px 25px 15px;
  font-weight: 400;
}

.links:hover {
  position: relative;
  color: black;
  opacity: 0.5;
}

.nav-icon {
  font-size: 30px;
  padding: 30px 15px;
}

.nav-icon:hover > i {
  opacity: 0.6;
}

.nav-icon:hover .home-title {
  font-weight: 600;
}

.explore-dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  left: -20px;
  margin-top: 20px;
}

.dropdown-item {
  z-index: 3;
  position: relative;
  padding: 12px 16px;
  cursor: pointer;
  background-color: #fff;
}

.dropdown-item:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.dropdown-item a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  width: 100%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-links {
  position: relative;
  display: flex;
}

.explore:hover .explore-dropdown {
  display: flex;
}

.stats:hover .stats-dropdown {
  display: flex;
}

.stats-dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  right: 95px;
  margin-top: 20px;
}

.resources-dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  right: -20px;
  margin-top: 20px;
}

.resources:hover .resources-dropdown {
  display: flex;
}

.nav_items {
  position: relative;
}

.user-dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 99999;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  left: -15px;
  margin-top: 9px;
}

.user-dropdown .dropdown-item {
  padding: 2px 16px;
}

.user-dropdown .dropdown-item a {
  font-weight: 400;
  font-size: 15px;
}

.user:hover .user-dropdown {
  display: flex;
}

.user-dropdown .dropdown-item i {
  font-size: 20px;
}

/* Button switch darkmode */
.item-nightmode input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.item-nightmode label {
  cursor: pointer;
  text-indent: -9999px;
  width: 70px;
  height: 26px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.item-nightmode label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 17px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.item-nightmode input:checked + label {
  background: rgba(46, 127, 232, 0.851);
}

.item-nightmode input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.item-nightmode label:active:after {
  width: 44px;
}

.item-nightmode {
  padding: 9px 16px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-nightmode a {
  padding-left: 8px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-title {
  text-align: center;
  width: 60%;
  padding-top: 55px;
  font-size: 50px;
  color: rgb(103, 103, 103);
}

/* Slideshow container */
.slideshow-container {
  margin-top: 50px;
  max-width: 1600px;
  height: 372px;
  position: relative;
  padding: 0 40px;
  overflow: hidden;
}

/* Next & previous buttons */
.prev,
.next {
  color: black;

  background: white;
  height: 60px;
  width: 60px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 0.85;
  text-align: center;
}

.prev {
  left: 10px;
}

/* Position the "next button" to the right */
.next {
  right: 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  opacity: 1;
}

/* animation */

.tilt-in-left-1 {
  animation: tilt-in-left-1 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes tilt-in-left-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}

.page-slide {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
}

.page-item {
  position: relative;
  height: 372px;
  overflow: hidden;
}

.item-name,
.item-price {
  position: relative;
  color: #fff;
  left: 15px;
}

.item-name {
  top: -65px;
  font-weight: 400;
  font-size: 17px;
}

.item-price {
  top: -65px;
  font-weight: 300;
  font-size: 15px;
}

.item-img {
  border-radius: 10px;
}

.icon-prev,
.icon-next {
  font-size: 40px;
}

.mySlides {
  height: 100%;
}

/* Main css */
.container {
  margin-top: 50px;
}

.container-nav {
  display: flex;
  padding: 5px 60px;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 10px;
}

.container-nav-left {
  width: 43px;
  font-size: 28px;
  text-align: center;
  border-radius: 50%;
}

.container-nav-left:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.container-nav-right {
  display: flex;
  font-size: 28px;
  align-items: center;
  justify-content: space-between;
}

.select-view i {
  padding: 0 4px;
}

.select-view i:hover {
  cursor: pointer;
  opacity: 0.7;
}

.card-item {
  width: 300px;
  background-color: rgba(212, 211, 211, 0.599);
  border-radius: 8px;
  overflow: hidden;
  margin: 5px 0;
}

.img-item {
  width: 100%;
}

.card-info {
  padding: 2px 10px;
}

.card-title {
  font-weight: bold;
  padding: 5px 0 10px 10px;
}

.card-name {
  padding: 0 0 5px 10px;
}

.card-price {
  padding: 0 0 5px 10px;
}

.chain-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: bold;
}

.chain-header i {
  font-size: 30px;
}

.chain-select {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chain-info {
  display: flex;
  align-items: center;
}

.chain-content {
  display: none;
}

.chain-content-active {
  display: block;
  padding: 0 35px;
}

.chain-logo {
  padding-right: 8px;
}

.checkbox-chain {
  height: 20px;
  width: 30px;
}

.category-content {
  display: none;
  padding: 0 35px;
}

.container-content {
  display: grid;
}

.content-active {
  grid-template-columns: 1fr 3fr;
}

.content-sort {
  display: none;
}

.content-sort-active {
  display: block;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.content-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  padding: 10px 12px;
  margin-left: 28px;
}

.content-item-active {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 0;
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(90px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
